

<!--Hidden until button is pressed-->
<div [ngClass]="{hidden:isHidden}">
  <div class="postNewThought">
  <h1>
      Title:
    </h1>
    <br/>
    
    <input class="inputForm" [(ngModel)]="title" id="text"><br/>

    <h2>
      Thought:
    </h2>
    <br/>

  <input class="inputForm" [(ngModel)]="thought" id="text"><br/>

   <br/>
   <br/>

   <!--Holy discovery batman! You can run two click events on the same button apparently.-->
  <button class="thoughtful" (click)="postThought()" (click)="SwitchHidden()">Submit</button>
  </div>
</div>

<button class="newThought" (click)="SwitchHidden()">New Thought</button>