.hidden{
    display:none;
}

div.postNewThought{
    color:white;
    width:40%;
    left:30%;
    position: relative;
    border:groove;
    border-radius: 16px;
    background:linear-gradient(270deg, rgb(29, 107, 94),rgb(38, 81, 109));

}

button.newThought{
    border:groove;
    border-radius: 16px;
    background-color: rgb(160, 176, 180);
    position: relative;
    width:30%;
    left:34%
}

button.thoughtful{
    border:groove;
    border-radius: 16px;
    background-color: rgb(160, 176, 180);
    position: relative;
    width:30%;
    left:34%
}